<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Relatório de Vendas</title>
</head>

<body>
    <!-- Mostrando os dados em forma de tabela -->
    <div id="app">
        <div class="container">
            <h1 class="mt-3">{{title}}</h1>

            <table class="mt-5 table table-dark table-striped table-hover" v-if="salesByProduct">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(sale, index) in salesByProduct">
                        <td>#{{ index + 1 }}</td>
                        <td>{{ sale.name }}</td>
                        <td v-money="'R$'">{{ sale.value }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>+</td>
                        <td>Total</td>
                        <td v-money="'R$'">{{ calculateTotal(salesByProduct) }}</td>
                    </tr>
                </tfoot>
            </table>
            <!-- <table class="mt-5 table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Qtde</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody> -->
                    <!-- Percorrendo as linhas usando v-for -->
                    <!-- <tr v-for="sale in sales">
                        <td>{{ sale.id }}</td>
                        <td>{{ sale.name }}</td>
                        <td v-money="'R$'">{{ sale.price }}</td>
                        <td>{{ sale.qtde }}</td>
                        <td>{{ sale.date }}</td>
                    </tr> -->
                <!-- </tbody>
            </table> -->
        </div>
    </div>
    <script>
        // Projeto Listar vendas e mostrar total por produto

        //Criando diretiva para transformar valores em valores monetários
        Vue.directive('money', {
            inserted(el, binding){  // A cada nova inserção, será chamada a fn
                const amount = parseFloat(el.innerHTML).toFixed(2).replace('.', ',') // Variável montante = conteudo do el
                    .replace(/(\d)(?=(\d{3})+\,)/g, '$1.') // Regex serve para colocar os pontos nos milhares
                el.innerHTML =`${binding.value} ${amount}`
            }
       })

        new Vue({
            el: '#app',
            data: {
                title: 'Relatório de Vendas',
                sales: null
            },
            // Obtendo as vendas via ajax
            methods: {
                //pegando arquivo sales dentro de dados
                getSales() {
                    fetch('/data/sales.json')
                        .then(resp => resp.json()) //O resultado do fetch retorna um response q é chamado por resp.json
                        .then(data => this.sales = data) //alterando o valor de sales passando data para this.sales
                },
                // Função para calcular o valor geral dos produtos
                calculateTotal(sales) {
                    if (!sales) return 0
                    return sales.reduce((total, sale) => total + sale.value, 0)
                }
            },
            computed: {
                salesByProduct(){
                    // se sales não estiver setado, retorna null.
                    if (!this.sales) return null
                    const salesByProduct = this.sales.reduce((grouped, sale) => {                    
                    // Se grouped não contiver a propriedade sales.name
                    if (!grouped.hasOwnProperty(sale.name)) {
                        // adicionando sale.name em grouped
                        grouped[sale.name] = {
                                name: sale.name,
                                value: sale.price * sale.qtde
                            }
                            return grouped
                        }

                    // caso o nome do produto esteja contido
                    grouped[sale.name].value += sale.price * sale.qtde
                    return grouped
                    },{})
                    
                    // retornará apenas o valor do conjunto chave-valor
                    return Object.values(salesByProduct)
                }
            },

            //quando a instância estiver pronta, vai chamar essa função
            mounted(){
                this.getSales()
            }
        })

    </script>
</body>

</html>